[submodule "packages/json"]
	path = packages/json
	url = https://github.com/nlohmann/json.git
[submodule "packages/yasio"]
	path = packages/yasio
	url = https://github.com/yasio/yasio.git
[submodule "packages/kcp"]
	path = packages/kcp
	url = https://github.com/skywind3000/kcp.git
